<div class="col-xs-12 col-md-8" style="z-index: 13;">
<div class="boxed  push-down-60">
	<div class="meta">
		<div class="wrap_post_image" ng-if="one.thumb">
			<img class="wp-post-image" ng-src="{{one.thumb}}">
		</div>
		<div ng-class="one.thumb?'meta__container':'meta__container--without-image'">
			<div class="row">
				<div class="col-xs-12  col-sm-8">
					<div class="meta__info">
						<span class="meta__author"><img src="images/dummy/avator.png" alt="Meta avatar" width="30" height="30"> <a href="#">Charles</a> in <a href="#">{{one.area||'北京'}}</a> </span>
						<span class="meta__date"><span class="glyphicon glyphicon-calendar"></span> &nbsp;{{one.time| date:"MM/dd/yyyy 'at' h:mma"}}</span>
					</div>
					<div class="meta__originauthor" ng-if="one.originalauthor||one.tags">
						<span class="meta__originauthor" ng-if="one.originalauthor">原作者：{{one.originalauthor.name}}</span>
						<span class="meta__tags">标签：<a style="margin-right:10px;color:#e9322d;" ng-repeat="t in one.tags">{{t.label||t}}</a></span>
					</div>
				</div>
				<div class="col-xs-12  col-sm-4">
					<div class="meta__comments">
						<span class="glyphicon glyphicon-comment"></span> &nbsp;
						<a href="single-post.html#disqus_thread"></a>
						<a ng-if="islogin" href="/edit?id={{one._id}}&type={{one.type}}"><span class="fa fa-edit" style="margin: 0 10px;"></span></a>
                        <span ng-if="islogin" ng-click="remove(one)" class="fa fa-trash-o"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-11  col-xs-offset-0 push-down-60">
			<div class="post-content">
				<h1>
					<a href="#">{{one.title}}</a>
				</h1>
				<div id="articlecon">
					<div onview data-type="maincon" data-content="{{one.content}}">
					</div>
				</div>
			</div>
		<div class="row">
			<div class="col-xs-12  col-sm-6">
			</div>
			<div class="col-xs-12  col-sm-6">
				<div class="social-icons">
					<a href="#" class="social-icons__container weibo"> <span class="fa fa-weibo"></span> </a>
					<a class="social-icons__container weixin"> <span class="fa fa-weixin"></span> </a>
					<div class="bshare-custom">
					   <a title="分享到" href="http://www.bshare.cn/share" id="bshare-shareto" class="bshare-more"></a>

					   <a title="分享到新浪微博" class="bshare-sinaminiblog" ng-click="share($event,'sinaminiblog')"></a>
					   <a title="分享到微信朋友圈" class="bshare-weixin" ng-click="share($event,'weixin')"></a>

					   <a title="更多平台" id="bshare-more-icon" class="bshare-more"></a>
					</div>
					
				</div>
			</div>
		</div>
		<div class="related-stories" id="related-comment" data-arid="{{one._id}}">
			<h6>评论</h6>
			<hr>
			<!--PC和WAP自适应版-->
			<div id="SOHUCS" sid="{{one._id}}" ></div> 
			<script type="text/javascript"> 
			(function(){ 
			var appid = 'cytbiQFxM'; 
			var conf = 'prod_1719392116e7712b7685989f9d145d1d'; 
			var width = window.innerWidth || document.documentElement.clientWidth; 
			if (width < 960) { 
			window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
		</div>
		</div>
	</div>
</div>
</div>