<div id="wrapper">
	<div class="page_main">
		<section id="a">
	        <div class="contains">
	            <div class="row">
	                <div class="col-md-6">
	                </div>
	                <div class="col-md-6">
	                </div>
	            </div>
	        </div>
		</section>
		<section id="a">
	        <div class="contains">
	            <div class="row">
	                <div class="col-md-6">
	                </div>
	                <div class="col-md-6">
	                </div>
	            </div>
	        </div>
		</section>
		<section id="a">
	        <div class="contains">
	            <div class="row">
	                <div class="col-md-6">
	                </div>
	                <div class="col-md-6">
	                </div>
	            </div>
	        </div>
		</section>
		<section id="a">
	        <div class="contains">
	            <div class="row">
	                <div class="col-md-6">
	                </div>
	                <div class="col-md-6">
	                </div>
	            </div>
	        </div>
		</section>
		<section id="a">
	        <div class="contains">
	            <div class="row">
	                <div class="col-md-6">
	                </div>
	                <div class="col-md-6">
	                </div>
	            </div>
	        </div>
		</section>
		<section id="a">
	        <div class="contains">
	            <div class="row">
	                <div class="col-md-6">
	                </div>
	                <div class="col-md-6">
	                </div>
	            </div>
	        </div>
		</section>
		<section id="a">
	        <div class="contains">
	            <div class="row">
	                <div class="col-md-6">
	                </div>
	                <div class="col-md-6">
	                </div>
	            </div>
	        </div>
		</section>
		<section id="a">
	        <div class="contains">
	            <div class="row">
	                <div class="col-md-6">
	                </div>
	                <div class="col-md-6">
	                </div>
	            </div>
	        </div>
		</section>
    </div>
</div>