html,body,#page {
    box-sizing: border-box;
    color: #34495E;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.01em;
}
ul, ol {
    margin-bottom: 10px;
    margin-top: 0;
}
a:focus,button:focus{
  outline:none;
  blr:expression(this.onFocus=this.blur());
}
nav {
    height: 55px;
    position: fixed;
    width: 100%;
}
h1 {
    font-size: 36px;
    letter-spacing: 8px;
    line-height: 36px;
    margin: 2px 0;
    text-transform: uppercase;
}
h2{
	font-size: 18px;
}
h6{
    font-size: 12px;
    letter-spacing: 2px;
    margin: 2px 0;
    text-transform: uppercase;
}
p{
	font-size: 14px;
	color: #858f9f;
}
.section-head p{
	font-size: 18px;
	color: #737d8d;
}
.navbar-default{
	background-color: #1ab394;
	border-bottom: 2px solid #1ab394;
}
.navbar-collapse{
	background-color:#34495E;
	height: 55px !important; 
}
.navbar-default legend {
    border: 2px solid #1ab394;
    height: 1px;
    position: absolute;
    right: 203px;
    top: 53px;
    transition: all 0.8s ease 0s;
    width: 65px;
}
.navbar-nav{
	float: right;
    height: 55px;
    position: absolute;
    right: 20px;
    z-index: 20;
}
.logo {
    color: #fff;
    font-family: "Comic Sans MS";
    font-size: 25px;
    height: 52px;
    margin-left: 28px;
    margin-top: 1px;
    padding: 6px;
    position: absolute;
    z-index: 20;
}
nav ul li.active a{
	background-color: transparent!important;
	color:#1ab394!important;
}
nav ul li:focus a{
	background-color: transparent!important;
	color:#1ab394!important;
}
nav ul li a{
	padding-bottom: 18px!important;
	padding-top: 18px!important;
	color:#ffffed!important;
}
span.icons{
	color: #c5c5c5;
    display: inline-block;
    font-size: 20px;
    width: 48px;
    height:48px;
}
.navbar-transparent .navbar-nav .active a {
    color:#1AB394;
    background-color: transparent;
}
#header{
    background-color:#3f4446;
    height: 100%;
    overflow: hidden;
    position: relative;
	/*-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;*/
}
.header-overlay{
	background: url("../imgs/bground.jpg") no-repeat fixed 0 0 / cover rgba(0, 0, 0, 0);
	opacity: 0.3;
	width:100%;
	height: 100%;
    position:absolute;
}
.welcome{
    position: absolute;
    top: 27%;
    width: 100%;
    z-index: 10;
}
.wel-1{
    color: #fff;
    float: none;
    margin: 0 30% 0 20%;
    min-height: 300px;
}
.intro {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.05) !important;
    height: 260px;
    padding: 30px;
    width: auto; 
    max-width: 450px;
    filter:Alpha(opacity=5); background:#fff; /*　使用IE专属滤镜实现IE背景透明*/ }
.intro p{ 
    position:relative;
    color: #e8e8e8;
}
.intro ul.social-links li, #home ul.social-links li a {
    padding: 4px;
}
ul.social-links{
    padding:0;
}
ul.social-links li {
    padding: 5px 15px 0 0;
}
ul.social-links li, ul.social-links li a {
    color: #e8e8e8 !important;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 18px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
ul.social-links li:hover, ul.social-links li:hover a{
    transform: scale(1.1);
}
section {
    margin:70px 0;
    text-align: center;
    width:100%;
}
/*section:nth-child(2n+1){
	background-color: #ECECEC;
}*/
.introduce{
	bottom: 0;
    height: 65%;
    margin-top: -50%;
    position: absolute;
}
.section-head p{
	margin: 0 auto;
	width: 75%;
}
.row{
    margin-left:0!important;
    margin-right:0!important;
}
.row-2{
	margin-top: 50px;
}
.row-2 h3{
	color:#1AB394;
}
.row-3{
	height:33%;
	width: 300px;
}
.row-3 h2{
	text-align: left;
}
.left .row-3{
	float: left;
}
.right .row-3{
	float: right;
}
.contains{
	border-bottom: 1px solid #eee;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.underline {
    border-top: 4px solid #0099e6;
}
.underline {
    display: inline-block;
    height: 1px;
    margin-top: 21px;
    width: 160px;
}
#footer{
    font-size: 12px;
    margin: 20px auto;
    text-align: center;
}
