html,body,#page {
    box-sizing: border-box;
    color: #34495E;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "GillSans",Arial,sans-serif;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: -0.01em;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}
#wrap{
    position: relative;
}
ul, ol {
    margin-bottom: 10px;
    margin-top: 0;
}
a:focus,button:focus{
  outline:none;
  blr:expression(this.onFocus=this.blur());
}
nav {
    height: 55px;
    position: fixed;
    width: 100%;
    z-index: 15;
}
/*适配*/
nav .navbar-collapse ul{
    display: block;
}
nav i.menu-btn{
    color: #fff;
    display: none;
    font-size: 2em;
    position: absolute;
    right: 14px;
    top: 9px;
    cursor: pointer;
}
body.active nav i.menu-btn,
nav.scroll i.menu-btn{
    color:#3b3b3b;
}
.main{
    position: relative;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}
@media (max-width:720px){
    nav .navbar-collapse ul{
        display: none;
    }
    nav i.menu-btn{
        color: #fff;
        display: block;
        font-size: 2em;
        position: absolute;
        right: 14px;
        top: 9px;
        cursor: pointer;
    }
    .slide{
        border-left: 1px solid rgba(255, 255, 255, 0.14);
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        right: -10.25em;
        top: 55px;
        width: 10.25em;
        z-index: 99;
        display:block;
        -webkit-transition: all 0.6s ease 0s;
        -moz-transition: all 0.6s ease 0s;
        -o-transition: all 0.6s ease 0s;
        transition: all 0.6s ease 0s;
        background-color: #fff; 
    }
    .slide.scroll{
        box-shadow: -2px 5px 5px #dedede;
    }
    body.active .main{
        right:10.25em;
        -webkit-transition: all 0.6s ease 0s;
        -moz-transition: all 0.6s ease 0s;
        -o-transition: all 0.6s ease 0s;
        transition: all 0.6s ease 0s;
    }
    body.active .slide{
        right:0;
        -webkit-transition: all 0.6s ease 0s;
        -moz-transition: all 0.6s ease 0s;
        -o-transition: all 0.6s ease 0s;
        transition: all 0.6s ease 0s;
    }
}
@media screen and (min-width:720px) and (max-width:960px){
    nav .navbar-collapse ul{
        display: none;
    }
    nav i.menu-btn{
        color: #fff;
        display: block;
        font-size: 2em;
        position: absolute;
        right: 14px;
        top: 9px;
        cursor: pointer;
    }
    .slide{
        border-left: 1px solid rgba(255, 255, 255, 0.14);
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        right: -10.25em;
        top: 55px;
        width: 10.25em;
        z-index: 99;
        display:block;
        background-color: #fff; 
        -webkit-transition: all 0.6s ease 0s;
        -moz-transition: all 0.6s ease 0s;
        -o-transition: all 0.6s ease 0s;
        transition: all 0.6s ease 0s;
    }
    .slide.scroll{
        box-shadow: -2px 5px 5px #dedede;
    }
    body.active .main{
        right:10.25em;
        -webkit-transition: all 0.6s ease 0s;
        -moz-transition: all 0.6s ease 0s;
        -o-transition: all 0.6s ease 0s;
        transition: all 0.6s ease 0s;
    }
    body.active .slide{
        right:0;
        -webkit-transition: all 0.6s ease 0s;
        -moz-transition: all 0.6s ease 0s;
        -o-transition: all 0.6s ease 0s;
        transition: all 0.6s ease 0s;
    }
}

@media screen and (min-width:960px) and (max-width:1180px){
    nav .navbar-collapse ul{
        display: none;
    }
    nav i.menu-btn{
        color: #fff;
        display: block;
        font-size: 2em;
        position: absolute;
        right: 14px;
        top: 9px;
        cursor: pointer;
    }
    .slide{
        border-left: 1px solid rgba(255, 255, 255, 0.14);
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        right: -10.25em;
        top: 55px;
        width: 10.25em;
        z-index: 99;
        display:block;
        background-color: #fff; 
        -webkit-transition: all 0.6s ease 0s;
        -moz-transition: all 0.6s ease 0s;
        -o-transition: all 0.6s ease 0s;
        transition: all 0.6s ease 0s;
    }
    .slide.scroll{
        box-shadow: -2px 5px 5px #dedede;
    }
    body.active .main{
        right:10.25em;
        -webkit-transition: all 0.6s ease 0s;
        -moz-transition: all 0.6s ease 0s;
        -o-transition: all 0.6s ease 0s;
        transition: all 0.6s ease 0s;
    }
    body.active .slide{
        right:0;
        -webkit-transition: all 0.6s ease 0s;
        -moz-transition: all 0.6s ease 0s;
        -o-transition: all 0.6s ease 0s;
        transition: all 0.6s ease 0s;
    }
}
@media screen and (min-width:1180px){

}

i.loading{
    background: url("../imgs/daylight_blank.gif") no-repeat scroll 50% center transparent;
    display: inline-block;
    height: 50px;
    left: 50%;
    position: absolute;
    width: 50px;
}
nav.scroll{
    box-shadow: 0px 3px 5px #dedede;
    background-color: #fff;
}
nav.scroll .logo{
    color:#3b3b3b;
}
nav.scroll i.loading{
    background: url("../imgs/daylight.gif") no-repeat scroll 50% center #fff;
}
.sub-arrow {
    padding-left: 0.500em;
    vertical-align: middle;
    font-size: 0.714em;
}
li ul.sub-menu{
    position: absolute;
    left: 0;
    z-index: 9999;
    display: none;
    margin-bottom: 0;
    background-color:#fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    list-style:none;
    padding:0;
}
nav ul li.active a{
    background-color: transparent!important;
}
nav ul li:focus a,nav ul li:hover a{
    background-color: transparent!important;
}
nav ul.sub-menu > li > a {
    background-color: #f6f6f6;
    color: #555 !important;
    display: block;
    font-size: 1em;
    padding: 6px 46px 6px 24px !important;
}
nav ul li a{
    color:#fff!important;
}
nav.scroll ul li a{
    color:#3b3b3b!important;
}
nav ul.sub-menu > li > a {
    background-color: #f6f6f6;
    display: block;
    font-size: 0.786em;
    padding: 0.5rem 1rem;
}
nav ul li:hover a{
    text-decoration: underline;
}
nav ul li:hover ul.sub-menu{
    display:block;
}
nav ul li:hover ul.sub-menu li a{
    text-decoration: none!important;
}
ul.sub-menu li:hover a{
    background-color:#0093ec!important;
    color:#fff!important; 
}
h1 {
    font-family: Helvetica;
    font-size: 3em;
    letter-spacing: 2px;
    margin: 2px 0;
}
h2{
	font-size: 0.9em;
}
h6{
    font-size: 12px;
    letter-spacing: 2px;
    margin: 2px 0;
    text-transform: uppercase;
}
p{
	font-size: 0.89em;
	color: #858f9f;
}
.section-head p{
	font-size: 0.89em;
	color: #737d8d;
}
.navbar-default{
	background-color: #1ab394;
	border-bottom: 2px solid #1ab394;
}
.navbar-collapse{
	height: 55px !important; 
}
.navbar-default legend {
    border: 2px solid #1ab394;
    height: 1px;
    position: absolute;
    right: 203px;
    top: 53px;
    transition: all 0.8s ease 0s;
    width: 65px;
}
.navbar-nav{
	float: right;
    height: 55px;
    position: absolute;
    right: 20px;
    z-index: 20;
}
.logo {
    color: #fff;
    font-family: "Comic Sans MS";
    font-size: 1.34em;
    height: 52px;
    margin-left: 28px;
    margin-top: 1px;
    padding: 6px;
    position: absolute;
    z-index: 20;
}
span.icons{
	color: #c5c5c5;
    display: inline-block;
    font-size: 20px;
    width: 48px;
    height:48px;
}
.navbar-transparent .navbar-nav .active a {
    color:#1AB394;
    background-color: transparent;
}
#header{
    background-image:linear-gradient(to bottom, #333 -53%, #565656 150%);;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}
.header-overlay{
	background: url("../imgs/bground.jpg") no-repeat fixed 0 0 / cover rgba(0, 0, 0, 0);
	opacity: 0.3;
	width:100%;
	height: 35em;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}
.welcome{
    position: absolute;
    top: 27%;
    width: 100%;
    z-index: 10;
}
.wel-1{
    color: #fff;
    float: none;
    margin: 0 30% 0 20%;
    min-height: 300px;
}
.intro {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.05) !important;
    height: 260px;
    padding: 30px;
    width: auto; 
    max-width: 450px;
    filter:Alpha(opacity=5); background:#fff; /*　使用IE专属滤镜实现IE背景透明*/ }
.intro p{ 
    position:relative;
    color: #e8e8e8;
}
.intro ul.social-links li, #home ul.social-links li a {
    padding: 4px;
}
ul.social-links{
    padding:0;
}
ul.social-links li {
    padding: 5px 15px 0 0;
}
ul.social-links li, ul.social-links li a {
    color: #e8e8e8 !important;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 18px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
ul.social-links li:hover, ul.social-links li:hover a{
    transform: scale(1.1);
}
section {
    margin:70px 0;
    text-align: center;
    width:100%;
}
/*section:nth-child(2n+1){
	background-color: #ECECEC;
}*/
.introduce{
	bottom: 0;
    height: 65%;
    margin-top: -50%;
    position: absolute;
}
.section-head p{
	margin: 0 auto;
	width: 75%;
}
.row{
    margin-left:0!important;
    margin-right:0!important;
}
.row-2{
	margin-top: 50px;
}
.row-2 h3{
	color:#1AB394;
}
.row-3{
	height:33%;
	width: 300px;
}
.row-3 h2{
	text-align: left;
}
.left .row-3{
	float: left;
}
.right .row-3{
	float: right;
}
.contains{
	border-bottom: 1px solid #eee;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.underline {
    border-top: 4px solid #0099e6;
}
.underline {
    display: inline-block;
    height: 1px;
    margin-top: 21px;
    width: 160px;
}
#footer{
    font-size: 12px;
    margin: 20px auto;
    text-align: center;
}
