<div class="col-xs-12 col-md-8" style="z-index: 13;">
<div class="boxed  push-down-60">
	<!-- Featured image and meta start -->
	<div class="meta">
		<div class="wrap_post_image" style="height: 220px;" ng-if="one.thumb">
			<img class="wp-post-image" ng-src="{{one.thumb}}">
		</div>
		<div ng-class="one.thumb?'meta__container':'meta__container--without-image'">
			<div class="row">
				<div class="col-xs-12  col-sm-8">
					<div class="meta__info">
						<span class="meta__author"><img src="images/dummy/30x30xabout-5.jpg.pagespeed.ic.x5zyS-vzza.jpg" alt="Meta avatar" width="30" height="30"> <a href="#">Charles</a> in <a href="#">{{one.area||'北京'}}</a> </span>
						<span class="meta__date"><span class="glyphicon glyphicon-calendar"></span> &nbsp;{{one.time| date:"MM/dd/yyyy 'at' h:mma"}}</span>
					</div>
					<div class="meta__originauthor" ng-if="one.originalauthor||one.tags">
						<span class="meta__originauthor">原作者：{{one.originalauthor.name}}</span>
						<span class="meta__tags">标签：<a style="margin-right:10px;color:#e9322d;" ng-repeat="t in one.tags">{{t}}</a></span>
					</div>
				</div>
				<div class="col-xs-12  col-sm-4">
					<div class="meta__comments">
						<span class="glyphicon glyphicon-comment"></span> &nbsp;
						<a href="single-post.html#disqus_thread"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Featured image and meta end -->
	<!-- Start of the blogpost -->
	<div class="row">
		<div class="col-xs-11  col-xs-offset-0 push-down-60">
		<!-- Start of the content -->
			<div class="post-content">
				<h1>
					<a href="#">{{one.title}}</a>
				</h1>
				<!-- <h3>She had a last view back on the skyline of her hometown Bookmarksgrove. (H3)</h3> -->
				<div id="articlecon">
					<div onview data-content="{{one.content}}">
					</div>
				</div>
			</div>
		<!-- End of the content -->
		<div class="row">
			<div class="col-xs-12  col-sm-6">
			</div>
			<div class="col-xs-12  col-sm-6">
			<!-- Start of social icons -->
				<div class="social-icons">
					<a href="#" class="social-icons__container weibo"> <span class="fa fa-weibo"></span> </a>
					<a href="#" class="social-icons__container weixin"> <span class="fa fa-weixin"></span> </a>
					<!-- <a href="#" class="social-icons__container"> <span class="zocial-email"></span> </a> -->
				</div>
			<!-- End of social icons -->
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-xs-12  col-sm-6">
				<div class="post-author">
					<h6>Written By</h6>
					<hr>
					<img src="images/dummy/about-5.jpg.pagespeed.ce.CBzjSaksXO.jpg" alt="Post author" width="90" height="90">
					<h5>
						<a href="#">Danielle Thatcher</a>
					</h5>
					<span class="post-author__text">Interface Designer, Poker Player and Imaginary Breakdancer</span>
				</div>
			End of post author
			</div>
			<div class="col-xs-12  col-sm-6">
				<div class="tags">
					<h6>Tags</h6>
					<hr>
					<a href="#" class="tags__link">Tech</a>
					<a href="#" class="tags__link">Web Design</a>
					<a href="#" class="tags__link">HTML/CSS</a>
					<a href="#" class="tags__link">Tutorials</a>
					<a href="#" class="tags__link">Workflow</a>
				</div>
			</div>
		</div> -->
		<!-- <div class="disqus-comments  push-down-45" id="comments">
			<div id="disqus_thread"></div>
			<script type="text/javascript">var disqus_shortname='readablehtml';(function(){var dsq=document.createElement('script');dsq.type='text/javascript';dsq.async=true;dsq.src='//'+disqus_shortname+'.disqus.com/embed.js';(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(dsq);})();</script>
			<noscript>Please enable JavaScript to view the
			&lt;a href="http://disqus.com/?ref_noscript"&gt;comments powered by Disqus.&lt;/a&gt;
			</noscript>
			<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span> </a>
		</div> -->
		<!-- Start of related stories -->
		<div class="related-stories" id="related-comment" onecom>
			<h6>评论</h6>
			<hr>
			<!-- UY BEGIN 
			<div id="uyan_frame"></div>
			<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2068620"></script>
			<!-- UY END -->
			<div class="ui form" ng-init="$parent.comment={};">
				<div class="field">
		          <label>昵称</label>
		          <input type="text" ng-model="comment.name" placeholder="Name">
		        </div>
				<div class="field">
			        <label>评论内容</label>
			        <textarea ng-model="comment.content"></textarea>
			    </div>
				<button class="ui button" type="button" ng-click="postcom(comment)">提交</button>
			</div>
			<h6>评论列表</h6>
			<div class="ui relaxed divided list">
			  <div class="item" ng-repeat="c in one.comments track by $index">
			    <div class="content">
			      <a class="header">{{c.name}}</a>
			      <span>{{c.time| date:"MM/dd/yyyy 'at' h:mma"}}</span>
			      <div class="description">{{c.content}}</div>
			    </div>
			  </div>
			</div>
		</div>
		<!-- End of related stories -->
		</div>
	</div>
<!-- End of the blogpost -->
</div>
</div>