<div class="col-xs-12  col-md-8">

	<div class="ui top attached tabular menu" id="addsth">
		<a data-tab="first" class="item active text-teal" ng-if="techtab">添加文章</a>
		<a data-tab="second" class="item text-teal" ng-if="lifetab" ng-class="lifetab?'active':''">添加杂谈</a>
		<a data-tab="third" class="item text-teal">添加图片</a>
		<!-- <a data-tab="third" class="item">Third</a> -->
	</div>
	<div class="ui bottom attached tab segment active" data-tab="first" ng-if="techtab">
		<form id="add_blog" class="ui form" ng-submit="addblog($event)">
			<div class="field">
				<label>标题</label>
				<input type="text" ng-model="blog.title" placeholder="标题" required data-validation-required-message="请填写标题">
				<p class="help-block">{{blog.title}}</p>
			</div>
	      	<div class="two fields">
	        	<div class="field">
		          	<label>是否原创</label>
		          	<div class="ui toggle checkbox checked" id="ismine">
			          <input type="checkbox" checked="checked" ng-model="blog.ismine" ng-change="changeismine()">
			          <label for="">默认原创</label>
			        </div>
		        </div>
		        <div class="field">
		          	<label>类型</label>
		          	<select class="ui search dropdown" id="blogtype" ng-model="blog.type" required >
			            <option value="tech" selected="selected">前端技术</option>
			          </select>
		        </div>
	      	</div>
	      	<div class="two fields" ng-if="!blog.ismine">
	      		<div class="field">
		          	<label>原作者</label>
		          	<input type="text" ng-model="blog.originalauthor.name" required>
		        </div>
		        <div class="field">
		          	<label>链接</label>
		          	<div class="ui labeled input">
				      <div class="ui label">http:// </div>
				      <input type="text" placeholder="mysite.com" ng-model="blog.originalauthor.url" required >
				    </div>
		        </div>
	      	</div>
	      	<div class="field">
	          <label>标签</label>
	          <select class="ui fluid dropdown" multiple="true" name="tags" id="blogtags" required >
	            <option value="html_css">Html&Css</option>
	            <option value="js">Javascript</option>
	            <option value="angular">angularJs</option>
	            <option value="nodejs">NodeJs</option>
	            <option value="mongodb">Mongodb</option>
	            <option value="ionic">Ionic</option>
	          </select>
          	</div>
	      	<div class="field">
	        	<label>内容</label>
	        	<div id="add_wpreface" editormd >
	        		<textarea style="display:none;" class="editormd-markdown-textarea"  name="content">{{blog.content}}</textarea>
	        </div>
		        <!--<script id="add_wpreface" type='text/plain' name='content' style='width:auto;height:240px;'></script>-->
	      	</div>
	      	<button type="submit" class="ui submit button">Submit</button>
		</form> 
	</div>
	<div class="ui bottom attached tab segment" data-tab="second" ng-if="lifetab" ng-class="lifetab?'active':''">
		<form id="add_life" class="ui form" ng-submit="add_life($event)">
			<div class="field">
				<label>子类型</label>
	          	<select class="ui search dropdown" id="lifesubtype" ng-model="life.subtype" required >
		            <option value="pic-word" selected="selected">图文</option>
		            <option value="read-and-know">读而知之</option>
		            <option value="gossip">闲言碎语</option>
	          	</select>
			</div>
			<div class="field" ng-if="life.subtype!='pic-word'">
				<label>标题</label>
				<input type="text" ng-model="life.title" placeholder="标题" required data-validation-required-message="请填写标题">
				<p class="help-block">{{life.title}}</p>
			</div>
	      	<div class="two fields">
	        	<div class="field"  ng-if="life.subtype=='article'">
		          	<label>是否原创</label>
		          	<div class="ui toggle checkbox checked" id="lifeismine" checkbox>
			          <input type="checkbox" checked="checked" ng-model="life.ismine" ng-change="changeismine()">
			          <label for="">默认原创</label>
			        </div>
		        </div>
		        <div class="field">
		          	<label>类型</label>
		          	<select class="ui search dropdown" id="lifetype" ng-model="life.type" required >
			            <option value="life" selected="selected">启示芳华</option>
			            <!-- <option value="pic" disabled="">影像</option> -->
		          	</select>
		        </div>
	      	</div>
	      	<div class="two fields" ng-if="!life.ismine&&life.subtype=='article'">
	      		<div class="field">
		          	<label>原作者</label>
		          	<input type="text" ng-model="life.originalauthor.name" required>
		        </div>
		        <div class="field">
		          	<label>链接</label>
		          	<div class="ui labeled input">
				      <div class="ui label">http:// </div>
				      <input type="text" placeholder="mysite.com" ng-model="life.originalauthor.url" required >
				    </div>
		        </div>
	      	</div>
	      	<div class="field">
	          	<label>标签</label>
	          	<div class="ui right labeled left icon input" id="tags">
	                <i class="tags icon"></i>
	                <input type="text" ng-model="tagstr" ng-keyup="tags($event)">
	                <div class="ui tag label">
	                  Tags
	                </div>
	                <a class="ui label transition visible" ng-repeat="t in life.tags track by $index" data-value="{{t.label||t}}">{{t.label||t}}<i class="delete icon"></i></a>
              	</div>
          	</div>
	      	<div class="field">
	        	<label>内容</label>
	        	<div id="add_wlife" editormd name="content" >
	        		<textarea style="display:none;" class="editormd-markdown-textarea"  name="content">{{life.content}}</textarea>
	        	</div>
		        <!--<script id="add_wlife" type='text/plain' name='content' style='width:auto;height:240px;'></script>-->
	      	</div>
	      	<button type="submit" class="ui submit button">Submit</button>
		</form>
	</div>
	<div class="ui bottom attached tab segment" data-tab="third"> Second </div>
	<!-- <div class="ui bottom attached tab segment" data-tab="third"> Third </div> -->
</div>