<div class="col-xs-12  col-md-8">
    <!-- Post with featured image 图片加文字 -->
    <div class="dl_list_all">
        <div class="dl_list_one" ng-repeat="b in bloglists track by $index">
            <div class="boxed  push-down-45 image" ng-if="b.thumb&&b.subtype!='pic-word'">
                <!-- Featured image and meta start -->
                <div class="meta">
                    <div class="wrap_post_image">
                        <img ng-src="{{b.thumb}}" class="wp-post-image" alt="">  
                    </div>
                    <div class="meta__container">
                        <div class="row">
                            <div class="col-xs-12  col-sm-8">
                                <div class="meta__info">
                                    <span class="meta__author">
                                        <img width="30" height="30" alt="Meta avatar" src="images/dummy/avator.png">
                                        <a href="#">
                                            Charles
                                        </a>
                                        <a href="#">
                                        </a>
                                    </span>
                                    <span class="meta__date">
                                        <span class="fa fa-calendar">
                                        </span>
                                        &nbsp; {{b.time | date:"MM/dd/yyyy 'at' h:mma"}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-12  col-sm-4">
                                <div class="meta__comments">
                                   <a href="/article/{{b._id}}#related-comment">
                                        <span class="fa fa-comment">
                                            {{b.comments.length}}
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Featured image and meta end -->
               <!--  <div class="sticky__box">
                    <span class="sticky__circle">
                    </span>
                    <span class="sticky__circle">
                    </span>
                    <span class="sticky__circle">
                    </span>
                    <span class="sticky__circle">
                    </span>
                </div> -->
                <!-- Start of the blogpost -->
                <div class="row">
                    <div class="col-xs-11  col-xs-offset-0">
                        <!-- Start of the content -->
                        <div class="post-content--front-page">
                            <h2 class="front-page-title">
                                <a href="/article/{{b._id}}">
                                    {{b.title}}
                                </a>
                            </h2>
                            <p onview data-content="{{b.summary}}">
                                
                            </p>
                            <!-- <h3>
                                第一关：奇葩的req.body
                            </h3>
                            <div class="post-ads">
                                <a href="http://themeforest.net/user/ProteusThemes/portfolio?ref=ProteusThemes">
                                    <img width="468" height="60" src="images/dummy/ads-468x60.jpg.pagespeed.ce.EzWUspc5yB.jpg">
                                </a>
                            </div>
                            <p>
                                上代码
                                Angular:
                                Var data = {a:a,b:b,content:’some data created by ueditor’};
                                //ueditor的数据我使用的form.serializeObject().content；这里我保证只有ueditor的数据需要用序列化表单（serializeObject||serialize）来取值
                                $http.post(“/someapi”,data).success(function(data){})
                                Nodejs:
                                 
                            </p> -->
                        </div>
                        <!-- End of the content -->
                        <div class="post-content-tags">
                            <ul>
                                <li ng-repeat="t in b.tags">
                                    <div class="ui tag label">
                                        {{t}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <a href="/article/{{b._id}}">
                            <div class="read-more">
                                Continue reading
                                <div class="read-more__arrow">
                                    <span class="fa  fa-chevron-right">
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <span class="post-format"></span>
            </div>
            <div class="post-ads" ng-if="$index==0">
                <a href="http://themeforest.net/user/ProteusThemes/portfolio?ref=ProteusThemes">
                    <img width="728" height="90" alt="Ads" src="images/dummy/xads-728x90.jpg.pagespeed.ic.Dg8PWwa1gE.jpg">
                </a>
            </div>
            <!-- Post with video -->
            <!-- <div class="boxed  push-down-45 video">
                <div class="meta">
                    <div class="responsive-embed-video">
                        <img width="748" height="397" data-width="748" data-vimeo-id="79505580"
                        class="vimeo-thumb" alt="Placeholder" src="images/dummy/video-placeholder.jpg.pagespeed.ce.hFuQkxS-Z7.jpg">
                    </div>
                    <div class="row">
                        <div class="col-xs-12  col-sm-10  col-sm-offset-1">
                            <div class="meta__container--without-image">
                                <div class="row">
                                    <div class="col-xs-12  col-sm-8">
                                        <div class="meta__info">
                                            <span class="meta__author">
                                                <img width="30" height="30" alt="Meta avatar" src="images/dummy/30x30xabout-5.jpg.pagespeed.ic.x5zyS-vzza.jpg">
                                                <a href="#">
                                                    Charles
                                                </a>
                                                in
                                                <a href="#">
                                                    News
                                                </a>
                                            </span>
                                            <span class="meta__date">
                                                <span class="fa fa-calendar">
                                                </span>
                                                &nbsp; 6. May, 2014
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12  col-sm-4">
                                        <div class="meta__comments">
                                            <span class="fa fa-comment">
                                            </span>
                                            &nbsp;
                                            <a href="single-post-video.html#disqus_thread">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-11  col-xs-offset-0">
                        <div class="post-content--front-page">
                            <h2 class="front-page-title">
                                <a href="single-post-video.html">
                                    Post with video
                                </a>
                            </h2>
                            <h3>
                                She had a last view back on the skyline of her hometown Bookmarksgrove.
                                (H3)
                            </h3>
                            <p>
                                Far far away, behind the word mountains, far from the countries Vokalia
                                and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove
                                right at the coast of the Semantics, a large language ocean.
                            </p>
                        </div>
                        <a href="single-post.html">
                            <div class="read-more">
                                Continue reading
                                <div class="read-more__arrow">
                                    <span class="fa  fa-chevron-right">
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <span class="post-format"></span>
            </div> -->
            <!-- <div class="post-ads">
                <a href="http://themeforest.net/user/ProteusThemes/portfolio?ref=ProteusThemes">
                    <img width="728" height="90" alt="Ads" src="images/dummy/xads-728x90.jpg.pagespeed.ic.Dg8PWwa1gE.jpg">
                </a>
            </div> -->
            <!-- Post with quote 图文 -->
            <div class="boxed  push-down-45 pic-word" ng-if="b.subtype&&b.subtype=='pic-word'">
                <!-- Featured image and meta start -->
                <div class="meta" style="margin-bottom:0;">
                    <!-- <img width="748" height="324" alt="Blog image" src="images/dummy/748x324xblog-image-4.jpg.pagespeed.ic.zbhJ3l0AsC.jpg"
                    class="wp-post-image"> -->
                    <img ng-src="{{b.thumb}}" class="wp-post-image" alt=""> 
                    <q class="meta__quote">
                        {{b.summary}}
                    </q>
                    <div class="meta__container">
                        <div class="row">
                            <div class="col-xs-12  col-sm-8">
                                <div class="meta__info">
                                    <span class="meta__author">
                                        <img width="30" height="30" alt="Meta avatar" src="images/dummy/30x30xabout-5.jpg.pagespeed.ic.x5zyS-vzza.jpg">
                                        <a href="#">
                                            Charles
                                        </a>
                                        in
                                        <a href="#">
                                            {{one.area||'北京'}}
                                        </a>
                                    </span>
                                    <span class="meta__date">
                                        <span class="fa fa-calendar">
                                        </span>
                                        &nbsp; {{b.time | date:"MM/dd/yyyy 'at' h:mma"}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-12  col-sm-4">
                                <div class="meta__comments">
                                    <a href="/article/{{b._id}}#related-comment">
                                        <span class="fa fa-comment">
                                            {{b.comments.length}}
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="post-format"></span>
            </div>
            <!-- 纯文字 -->
            <div class="boxed  push-down-45 word"  ng-if="!b.thumb"><!--ng-if="!blogaction.cutimg(b.content)"-->
                <!-- Meta without image start (Needed for WP theme)-->
                <div class="row">
                    <div class="meta__container--without-image">
                        <div class="row">
                            <div class="col-xs-12  col-sm-8">
                                <div class="meta__info">
                                    <span class="meta__author">
                                        <img width="30" height="30" alt="Meta avatar" src="images/dummy/30x30xabout-5.jpg.pagespeed.ic.x5zyS-vzza.jpg">
                                        <a href="#">
                                            Charles
                                        </a>
                                        in
                                        <a href="#">
                                            {{one.area||'北京'}}
                                        </a>
                                    </span>
                                    <span class="meta__date">
                                        <span class="fa fa-calendar">
                                        </span>
                                        &nbsp; {{b.time | date:"MM/dd/yyyy 'at' h:mma"}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-12  col-sm-4">
                                <div class="meta__comments">
                                    <a href="/article/{{b._id}}#related-comment">
                                        <span class="fa fa-comment">
                                            {{b.comments.length}}
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Meta without image end -->
                <!-- Start of the blogpost -->
                <div class="row">
                    <div class="col-xs-11  col-xs-offset-0">
                        <!-- Start of the content -->
                        <div class="post-content--front-page">
                            <h2 class="front-page-title">
                                <a href="/article/{{b._id}}">
                                    {{b.title}}
                                </a>
                            </h2>
                            <!-- <h3>
                                She had a last view back on the skyline of her hometown Bookmarksgrove.
                                (H3)
                            </h3> -->
                            <p>
                                {{b.summary}}
                            </p>
                        </div>
                        <!-- End of the content -->
                        <div class="post-content-tags">
                            <ul>
                                <li ng-repeat="t in b.tags">
                                    <div class="ui tag label">
                                        {{t}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <a href="/article/{{b._id}}">
                            <div class="read-more">
                                阅读更多
                                <div class="read-more__arrow">
                                    <span class="fa  fa-chevron-right">
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <span class="post-format"></span>
            </div>   
        </div>
    </div>

</div>